@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


body {font-family: 'Unbounded', cursive;
color: #fffffe;
background-color:#0f0e17;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23f25f4c' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d73000' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23f15553' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23e24a00' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f04c5a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ec6000' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ed4261' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f67500' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23ea3968' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ff8906' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23e53170' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

nav { background-color:#:#a7a9be;

}

nav > a {
    color:#b8c1ec;
    text-decoration:none;
    padding: 8px 12px;
    display: inline-block;

}

nav > a:hover {
    background-color: #72757e;
}

hr{
    height: 10px;
    background-color:#a786df;
    border:none;
}

input,textarea {
    background-color: #d1d1e9
    ;
    border-radius: 8px;
    color: black;
    padding: 8px 12px 14px 11px;
    border-width : 2px;
    border-color: #232946;
}

input:focus, text area:focus {
    background-color: lightgray;
    
}

.center{text-align: center;}

#linkten {font-size: 54px;
    color: palevioletred ;
}
#github {font-size: 54px;
    color: palevioletred;
}
#gmail {font-size: 54px;
    color: palevioletred;
}

@media screen and (max-width: 480px){
    body{
        background-color:#0f0e17;
    }
    .float-right{
        float:unset;
    }
}

    
